# SMB connection settings (do not use "" or '' , just plain text)
server_name=NameServer
server_ip=IpServer
share_name=NameOfShareFolder
username=Username
password=SuperSecretPassword
domain_name= #if you do not have a domain leave blank

# upload / download / delete / list 
action=upload

# In case of downloads, upload and delete = file name. To list, directory (If it is root, leave blank)
remote_path=file.txt
local_path=file.txt